:root.theme-light {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");

    --text-color: #353430;
    --title-color: #ffc2e6;
    --heading-color: #353430;

    --accent-color: #ff8dcb;
    --decor-color: #353430;

    --title-decor-text-color: #353430;

    --link-shadow-color: #ff8dcb;
    --button-hover-border-color: rgb(50 49 45 / 0.4);
}

:root.theme-light .header__rec {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root,
    :root.theme-auto {
        --bg-color: #fff1f7;
        --bg-image: url("../images/cover-image-light.png");

        --text-color: #353430;
        --title-color: #ffc2e6;
        --heading-color: #353430;

        --accent-color: #ff8dcb;
        --decor-color: #353430;

        --title-decor-text-color: #353430;

        --link-shadow-color: #ff8dcb;
        --button-hover-border-color: rgb(50 49 45 / 0.4);
    }

    :root .header__rec,
    :root.theme-auto .header__rec {
        display: none;
    }
}
