.page {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color);

    background-color: var(--page-bg-color);
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow-x: hidden;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: '';
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::before {
    inset-block-start: var(--page-padding);
    inset-inline-end: var(--page-padding);
    border-block-start: 1px solid var(--decorated-color);
    border-inline-end: 1px solid var(--decorated-color);
}

.decorated-zone::after {
    inset-block-end: var(--page-padding);
    inset-inline-start: var(--page-padding);
    border-block-end: 1px solid var(--decorated-color);
    border-inline-start: 1px solid var(--decorated-color);
}

.title-decor {
    display: inline;
    padding-inline: 0.25em;
    background-color: var(--accent-color);
    color: var(--title-decor-text-color);
    font-weight: 700;
    box-decoration-break: clone;
}

.header,
.footer {
    padding: var(--page-padding);
    min-block-size: 668px;
    block-size: 100vh;
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-items: start;
}

.header__rec {
    position: absolute;
    inset-block-start: var(--page-padding);
    inset-inline-end: var(--page-padding);

    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--decorated-color);
    line-height: 25px;
}

.header__rec::after {
    content: '';
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--decorated-color);
    box-shadow: 0 0 4px 2px var(--decorated-color);
}

.header__theme-menu {
    justify-self: end;
    align-self: start;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    padding: 1.5px 13px;
    border: 1px solid transparent;
    background-color: transparent;

    color: var(--decorated-color);
    text-transform: lowercase;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border-color: var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
    border-color: currentColor;
    pointer-events: none;
}

.header__title {
    justify-self: start;
    align-self: center;
    margin-inline-start: calc(var(--page-padding) * -1);

    color: var(--title-color);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
    justify-self: end;
    align-self: end;
    max-inline-size: 355px;
}

.content {
    display: grid;
    gap: var(--content-gap);
    padding-block: var(--content-padding-block);
    padding-inline: var(--page-padding);
}

.content__section {
    display: grid;
    gap: var(--section-gap);
}

.content__section-title {
    color: var(--section-title-color);
    font-weight: 700;
    font-size: 18px;
}

.content__section-block {
    display: grid;
    gap: var(--section-gap);
}

.content__section-subtitle {
    font-weight: 700;
    font-size: 18px;
}

.content__cards {
    display: grid;
    gap: var(--section-gap);
}

.content__card {
    display: grid;
    gap: var(--card-gap);
}

.content__card-title {
    font-weight: 700;
    font-size: 18px;
}

.content__card-text {
    margin: 0;
}

.gallery__list {
    display: grid;
    gap: var(--gallery-gap);
}

.gallery__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    display: grid;
    place-items: center;
}

.footer__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
    text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
    :root {
        --page-padding: 20px;
        --content-padding-block: 60px;
        --content-gap: 80px;
        --gallery-gap: 20px;
    }

    .header,
    .footer {
        min-block-size: 1024px;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-inline-start: -20px;
    }

    .header__text {
        max-inline-size: 364px;
    }

    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .content__section {
        grid-template-columns: 236px 1fr;
        column-gap: 20px;
    }

    .content__section_type_gallery {
        grid-template-columns: 1fr;
    }

    .gallery__list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
      'sunset sunset ice'
      'tape books ice'
      'tape street street';
    }

    .gallery__item_type_sunset { grid-area: sunset; }
    .gallery__item_type_ice { grid-area: ice; }
    .gallery__item_type_tape { grid-area: tape; }
    .gallery__item_type_books { grid-area: books; }
    .gallery__item_type_street { grid-area: street; }
}

@media (width >= 1024px) {
    .header__theme-menu {
        justify-self: center;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .content__section {
        grid-template-columns: 315px 1fr;
    }

    .content__section_type_what .content__cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
